@model IEnumerable<Umtahan_programii.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Imtahanlar</h1>

<p>
    <a asp-action="Create">Yeni Şagird Daxil Edin!</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Imtahanın tarixi
            </th>
            <th>
                Yekun Qiymət
            </th>
            <th>
                Dərs
            </th>
            <th>
                Şagird
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.NameOfSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExamId">Redaktə Et</a> |
                    <a asp-action="Details" asp-route-id="@item.ExamId">Detallar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExamId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

