@model IEnumerable<Umtahan_programii.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Existing Exams</h1>

<p>
    <a asp-action="Create">Create New Exam</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Date of Exam
            </th>
            <th>
                Final Result
            </th>
            <th>
                Subject
            </th>
            <th>
                Student
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExamId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExamId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Create Exam</h1>

<div>
    <label>Select Subject:</label>
    <ul>
        @foreach (var subject in ViewBag.Subjects)
        {
            <li><a asp-action="Create" asp-controller="Exams" asp-route-SubjectCode="@subject.SubjectCode">@subject.NameOfSubject</a></li>
        }
    </ul>
</div>
